<!-- 
<footer class="footer">
  <div class="footer-section">
    <a href="/privacy">Privacy Policy</a>
    <a href="/terms">Terms & Conditions</a>
    <a href="/faq">FAQ</a>
    <a href="/shipping-info">Shipping Information</a>
  </div>
  <div class="footer-section1">
    <p class="text-muted">padLOCK &copy; 2016</p>
  </div>
</footer> -->
